<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" id="fotogachi">
      <img src="https://i.postimg.cc/Kj6mm2wL/gachiii.png" class="mx-auto d-block" alt="Foto Bienvenida Gachi">
      <div class="carousel-caption d-none d-md-block">
        <h3>Hola! Gachi te da la bienvenida!!</h3>
        
      </div>
    </div>
    <div class="carousel-item" id="fotoguantes">
      <img src="https://i.postimg.cc/CxwvCz30/wawatez.jpg" class="mx-auto d-block" alt="Foto Guantes">
      <div class="carousel-caption d-none d-md-block">
        <h3>Guantes!</h3>
        
      </div>
    </div>
    <div class="carousel-item" id="fotorosita">
      <img src="https://i.postimg.cc/43NSGmPP/rorosita.jpg" class="mx-auto d-block" alt="Foto Rosita">
      <div class="carousel-caption">
        <svg width="500" height="75" viewBox="0 0 500 75">
  <text x="0" y="55" style="fill: white; stroke: #000; stroke-width: 3px; font-size: 50px; font-weight: bold; font-family: verdana ">
    <h3>Rosita!</h3>
  </text>
</svg>
        
        
      </div>
    </div>
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>

</div>