    <div class="faqvideo1">
        <div class="embed-responsive embed-responsive-16by9">
        <iframe width="365" height="650" src="https://www.youtube.com/embed/rrCvpmTp114" title="michijuego 😻😻😻" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="faq">
            <h1><b> ¿Qué o quien es “the michis show”?</b></h1>

        <p> The michis show nació porque una humana que ama mucho a sus michis empezó a subir videos de sus michis para que todo el mundo pueda ver lo lindos y graciosos que son, esto lo empezó a hacer sin ninguna esperanza de nada, pero de a poco los michis se ganaron el corazón de casi 60 mil seguidores en Tik Tok, y casi 70 mil seguidores en instagram.  </p>
        <p> Los michis de la humana son 3, Guates, Rosita y Gachi. <br> 
            Todos con una personalidad diferente pero igual de amorosos y consentidos los 3!</p> 
        <p> Todos son adoptados, o mejor dicho, todos decidieron en algún momento, que la humana iba a ser su esclava, o por lo menos así lo perciben ellos. </p> <br>
    
            <hr>
    <div class="faqvideo2">
        <div class="embed-responsive embed-responsive-16by9">
         <iframe width="365" height="650" src="https://www.youtube.com/embed/Ms3DHkY3pxc" title="No." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
         </iframe>
        </div>
    </div>
            <h1><b>¿Qué le paso a Guantes en la patita derecha?</b></h1>
        <p> Guantes hace casi 6 años tuvo un accidente, el cual lo dejo rengo, o manco porque es la patita delantera y de podría decir que son manos jeje. Tuvo un tratamiento prolongado y finalmente le pudieron salvar la patita, pero nos avisaron que iba a volver a usar la patita para caminar, aunque no perdió la movilidad de la misma, la usa para jugar con sus hermanos, también para pelear, y rasguñar humanos. </p>
        <p> Esta época en la que Guantes estaba herido fue una época demasiado oscura para la humana, teniendo en cuenta que “solamente es un gato” para algunas personas, para su humana el significa muchísimo en su vida y el amor que siente por él es inconmensurable.</p> 
        <p> A Guantes no le duele la patita para nada, él es muy activo y cuando le duele algo se puede percibir perfectamente aunque Guantes no pueda usar palabras, más que un recurrente “miau”. </p><br>
            <hr>
            <h1><b>¿Cuáles son los productos que tienen a la venta?</b></h1>
        <p> Próximamente tendremos a la venta llaveros con forma de huellitas gatunas personalizables, <br>
            pueden ser de color que quieras, con alguna letra o motivo que desees! 
        </p>
    </div>