
<hr>
<center> <div><h2>Proximamente a la venta!!</h2></div></center>
<hr>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://i.postimg.cc/NfcCz7q6/eee.png" class="card-img-top" alt="Fotos patitas resina 1">
      <div class="card-body">
        <h5 class="card-title">Disclaimer:</h5>
        <p class="card-text">Las imagenes son meramente representativas de un proyecto a futuro. No tenemos ningun tipo de derecho sobre estas imagenes.</p>
      </div>
    </div>
  </div>
  <div class="col justify-content-center">
    <div class="card">
      <img src="https://i.postimg.cc/D0BG5T3Y/aaa.png" class="card-img-top" alt="Fotos patitas resina 2">
      <div class="card-body">
        <h5 class="card-title">Cadenitas</h5>
        <p class="card-text">Los llaveros con forma de patitias son geniales para regalar en cualquier ocasion.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://i.postimg.cc/7PFYHbHq/sxsxsx.png" class="card-img-top " alt="Fotos patitas resina 3">
      <div class="card-body">
        <h5 class="card-title">Llaveros</h5>
        <p class="card-text">Pueden ser totalmente customizadas! Se pueden hacer del color que quieras, y le podemos agregar cualquier detalle que se te ocurra!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://i.postimg.cc/1tWRj546/fff.png" class="card-img-top" alt="Fotos patitas resina" >
      <div class="card-body">
        <h5 class="card-title">Pulseras</h5>
        <p class="card-text">Mas alla de que estas imagenes no son nuestras, el plan es que queden igual de bonitos!</p>
      </div>
    </div>
  </div>
</div>

