<div class="col-md-4 mx-auto">
  <div class="card mt-3 rounded">
    <div class="card-header bg-dark text-center">
      <h3 class="text-white">Notita 😍</h3>
    </div>
    <div class="card-body text-right">
      <form action="/notes/new-note" method="POST">
        <div class="mb-3">
          <label for="title">Título:</label>
          <input
            type="text"
            name="title"
            class="form-control"
            placeholder="Título"
            autofocus
          />
        </div>
        <div class="mb-3">
          <label for="description">Contenido de la nota:</label>
          <textarea
            name="description"
            class="form-control"
            placeholder="Dejanos aca cualquier comentario, consulta, o idea que tengas para The michis show!"
          ></textarea>
        </div>
          <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-primary" type="submit">Guardar nota!</button>
          </div>
      </form>
    </div>
  </div>
</div>